<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panaderia Don Nico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email"></ion-input>
  <ion-input type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password"></ion-input>
  <ion-button (click)="altUsuario()">guardar usuario</ion-button>

  <ul>
    <li *ngFor="let user of listaDeUsuarios">{{user | json}}</li>
  </ul>

  <laber>{{150|currency}}</laber>
</ion-content>